@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url("https://use.typekit.net/xeq1bki.css");

* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fef8ec;
    font-family: myriad-pro-condensed, sans-serif;
    color: #4f4f4f;
    margin: 0 30px;
    }

a {
    text-decoration: none;
    color: #4f4f4f;
}

a:hover {
   opacity: .7;
   cursor: pointer;
}

li {
    list-style: none;
}

/* desktop-header */

.header {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0;
}

.left-header {
    display: flex;
    align-items: center;
}

.right-header {
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.header-logo {
    height: 50px;
}

.menu-nav li {
    float: left;
    font-size: 1.5rem;
    margin-left: 1.5rem;
}

.active {
    color: #8f5d8e;
    border-bottom: 2px solid #8f5d8e;
}  

    /* mobile-nav */

.mobile-menu li {
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
    display: none;
}

.nav-toggle {
    cursor: pointer;
}

.menu-icon {
    width: 2rem; 
}

.close-icon {
    width: 2rem;
    display: none;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
}

.mobile-dropdown {
    margin: 0 auto;
}

.mobile-checkbox {
    display: none;
}

.mobile-checkbox:checked ~ ul.mobile-menu li{
    display:block;
}


/* footer section */

.footer {
    display: flex;
    margin: 60px 0 30px;
}

.middle-footer {
    padding-left: 20px;
}

.middle-footer li {
    font-family: 'Roboto Mono', sans-serif;
    row-gap: 10px;
    padding-bottom: 5px;
}

.right-footer {   
    flex: 1;
    padding-right: 5px;
}

.footer-logo {
    height: 50px;
}

.left-footer p {
    font-family: 'Roboto Mono', sans-serif;
}

.social-networks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.social-networks a {
    color: #8f5d8e;
    font-size: 2rem;
    margin-left: 1rem;
}

/* hero image section */

.hero-image {
    margin: 15px 0 30px;
    height: 400px;
    background-image: url(../images/machine-hero-new.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;  
    border: 3px solid #8f5d8e;
}

.section-title {
    margin-bottom: 30px;   
    }

    .section-title h2 {
        font-size: 2.5rem;
        color: #8f5d8e;
        font-weight: 300;
    }

/* about section */

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0 50px;
}

.about-section {
    margin-bottom: 30px;
    padding-right: 30px;
}

.side-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;  
}

.about-section h1 {
    text-align: left;
    font-size: 3rem;
    font-weight: 400;
    color: #4f4f4f;
}

.about-section p {
    margin: 30px 0;
    font-family: 'Roboto Mono', sans-serif;
    color: #767676;
}

/* latest tutorials section */

.rytm-tutorial-image {
    margin-bottom:  40px;
    height: 600px;
    background-color: #767676;
    background-image: url(../images/rytm-hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 5px;  
}

.prophet-tutorial-image {
    margin: 30px 0 50px;
    height: 600px;
    background-color: #767676;
    background-image: url(../images/prohet-hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 5px;  
}

.tutorial-description {
    width: 75%;
    background-color: rgba(21, 21, 21, 0.7);
    padding: 10px 10px 15px;
    position: absolute;
    bottom: 0;
}

.tutorial-description h4 {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.tutorial-description h3 {
    color: white;
    font-weight: 200;
    font-size: 1.5rem; 
}

.tutorial-description p {
    color: white;
    font-family: 'Roboto Mono', sans-serif;     
    margin-top: 5px; 
}

/* latest courses section */

.latest-courses-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    column-gap: 1rem;
    row-gap: 1rem;
}

.latest-course-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.latest-course-info {
    height: 100%;
    margin-top: 1rem;
    border: 2px solid #4f4f4f;
    border-radius: 5px;    
}


.latest-course-info:hover {
    background-color: #4f4f4f;
    color: #fef8ec;
}

.latest-course-info a:hover {
    color: #fef8ec;
    opacity: 1;
}

.latest-courses-images {
    width: 100%;
    border-radius: 5px;
}

.latest-course-container h3 {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 7px 10px 0;
}

.latest-course-container h4 {
    font-size: 1.5rem;
    padding: 0 10px;
}

.latest-course-container p {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1rem;
    padding: 7px 10px 15px;
}


/* software courses page */

.software-hero {
    margin: 15px 0 30px;
    height: 400px;
    background-image: url(../images/software-hero.png);
    background-position: center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;  
    border: 3px solid #8f5d8e;
}

/* hardware courses page */

.hardware-hero {
    margin: 15px 0 30px;
    height: 400px;
    background-image: url(../images/hardware-hero.png);
    background-position: center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;  
    border: 3px solid #8f5d8e;
}

/* tutorials pages */

.rytm-tutorial-hero {
    margin: 20px 0 20px;
    height: 400px;
    background-color: #767676;
    background-image: url(../images/rytm-hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 5px;  
}

.tutorial-description h1, h2 {
    color: #fef8ec
}

.tutorial-description h1 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.5rem;
}

.tutorial-description h2 {
    font-weight: 200;
    font-size: 2rem;
}

.tutorial-container p {
    font-family: 'Roboto Mono', sans-serif;
}

.tutorial-container {
    margin: 0 auto;
    max-width: 900px;
}

.tutorial-container h3 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.tutorial-container h4 {
    font-size: 2rem;
    font-weight: 200;
    margin: 20px 0 20px;
    color: #8f5d8e;

}

.rytm-images {
    border-radius: 5px;
    width: 100%;
    margin-bottom: 30px;
}

/* header responsive styling */

@media only screen and (min-width:900px){
    .nav-toggle {
        display: none;
    }
}

@media only screen and (max-width:900px){
    .menu-nav {
        display: none;
    }

    .about-grid {
        grid-template-columns: 1fr;
    }

    .side-image {
        display:none;
    }

    .latest-courses-grid {
        grid-template-columns: 1fr;
    }

    .latest-course-info {
        margin-bottom: 30px;
    }
}

    /* footer responsive styling */

    @media only screen and (max-width:900px){
    
    .footer {
        flex-direction: column;
        margin-bottom: 30px;
        height: 200px;
    }

    .left-footer {
        margin: 0 auto;
    }

    .left-footer p {
        margin-top: 1rem;
        text-align: center;
    }

    .right-footer {
        margin: 1rem 0;
    }

    .right-footer a {
        font-size: 1.5rem;
    }

    .middle-footer {
    margin: 1rem auto 0;
    }

    .middle-footer li {
    float: left;
    padding: 0 1rem;
    font-size: .8rem;
    }

    .social-networks {
    justify-content: center;
    }
}

/*general responsive styling*/

@media only screen and (max-width:900px) {
    .header-logo {
        height: 40px;
    }

    body {
        margin: 0 15px;
    }

    .about-section p {
        padding-right: 0;
        }
}





