@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url("https://use.typekit.net/xeq1bki.css");

* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fef8ec;
    font-family: myriad-pro-condensed, sans-serif;
    color: #4f4f4f;
    }

a {
    text-decoration: none;
    color: #4f4f4f;
}

li {
    list-style: none;
}

    /* header section */

    .header {
        display: flex;
        justify-content: space-between;
        margin: 20px 30px 0;
    }

    .left-header {
        display: flex;
        align-items: center;
    }

    .right-header {
        display: flex;
        align-items: center;
        padding-right: 5px;
    }
    

    .header-logo {
        height: 50px;
    }

    .menu-nav li {
        float: left;
        font-size: 1.5rem;
        margin-left: 1.5rem;
    }

    .active {
        color: #8f5d8e;
        border-bottom: 2px solid #8f5d8e;
    }


    /* responsive stlying for header */

  

    .mobile-menu li {
        text-align: center;
        font-size: 2rem;
        line-height: 3rem;
        display: none;
    }

    .nav-toggle {
       cursor: pointer;
     
 
    }

    .menu-icon {
        width: 2rem;
      
    }

    .close-icon {
        width: 2rem;
        display: none;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
    }

    .mobile-dropdown {
        margin: 0 30px;
    }

    .mobile-checkbox {
       display: none;
    }

    .mobile-checkbox:checked ~ ul.mobile-menu li{
        display:block;
    }

    @media only screen and (min-width:900px){
        .nav-toggle {
            display: none;
        }
    }

    @media only screen and (max-width:900px){
        .menu-nav {
            display: none;
        }
    }


    /* hero image section */

    .hero-main {
        margin: 20px 30px 40px;
        height: 600px;
        background-image: url(../images/MACHINE\ LEARNING\ HER02.png);
        background-position: center;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .about-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 30px 30px;
    }

    .about-section {
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: right;
        background-position-y: bottom;
        margin-bottom: 30px;
    }

    .side-image {
        width: 100%;
    }

    .about-section h1 {
        text-align: left;
        font-size: 2rem;
        font-weight: 600;
    }


    .about-section p {
        margin: 30px 0;
        padding-right: 30px;
        font-family: 'Roboto Mono', sans-serif;
    }

    .hero-top {
        margin: 0 30px 30px;
        height: 600px;
        background-color: #767676;
        background-image: url(../images/hero-banner-rytm.jpg);
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
    }

    .hero-description {
    
        width: 75%;
        background-color: rgba(21, 21, 21, 0.7);
        padding: 10px 10px;
        position: absolute;
        bottom: 0;
       

    }

    .hero-description h2 {
        color: white;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    .hero-description h3 {
        color: white;
        font-weight: 200;
        font-size: 1.5rem; 
    }

    .hero-description p {
        color: white;
        font-family: 'Roboto Mono', sans-serif;
    }

    .title-banner {
        width: 100%;
        margin: 0 30px 30px;
    }

    .title-banner h2 {
        font-size: 3.5rem;
        color: #8f5d8e;
        font-weight: 300;

    }

    /* latest courses section */

    .latest-courses-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 100%;
        margin: 30px 30px;
        column-gap: 1rem;
    }

    .latest-course-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .latest-course-info {
        height: 100%;
        margin-top: 7px;
        background-color: #4f4f4f;
    }

    .latest-courses-images {
        width: 100%;
    }

    .latest-course-container p {
        font-family: 'Roboto Mono', sans-serif;
        font-size: .8rem;
        color: white;
        padding: 3px 10px 15px;
    }
    .latest-course-container h2 {
        color: white;
        padding: 0 10px;

    }

    .latest-course-container h3 {
        font-weight: 200;
        color: white;
        padding: 7px 10px 0;

    }


    .hero-bottom {
        margin: 30px 30px 60px;
        height: 600px;
        background-color: #767676;
        background-image: url(../images/prohet-hero.jpg);
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
    }

    /* footer section */
    
    .footer {
        display: flex;
        height: 100px;
        margin: 30px 30px 0;
    }

    .left-footer {
    }

    .middle-footer {
        padding-left: 20px;
    }

    .middle-footer li {
        font-family: 'Roboto Mono', sans-serif;
        row-gap: 10px;
        padding-bottom: 5px;
    }

    .right-footer {   
        flex: 1;
        padding-right: 5px;
    }

    .footer-logo {
        height: 50px;
    }

    .left-footer p {
        font-family: 'Roboto Mono', sans-serif;
    }

    .social-networks {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .social-networks a {
        color: #8f5d8e;
        font-size: 2rem;
        margin-left: 1rem;
    }

